body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-color: rgb(37, 37, 37);
}

.container {
    display: flex;
    
}

.div0, .div1 {
  flex: 1;
  box-sizing: border-box;
  border: 2px solid rgb(31, 136, 202); 
  position: relative;
  margin: 20px;
  background-color: rgba(7, 61, 148, 0.07); 
}


.div0::before, .div1::before {
    content: "";
    display: block;
    padding-top: 100%;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}


h1 {
    justify-content: left;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
    animation: floatAnimation 3s infinite ease-in-out;
    text-shadow: 0 0 10px rgba(248, 247, 241);
    color: rgb(248, 247, 241);
    font-family: Consolas, monaco, monospace;
  }
  
  h1:hover {
    transform: translateY(-5px);
    animation: none;
    text-shadow: 0 0 20px rgba(248, 247, 241);
  }
  
  @keyframes floatAnimation {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }

  .spanelementcontainer {
    flex: 1;
    box-sizing: border-box;
    border: 1.5px solid rgb(255, 255, 255);
    position: relative;
    top: -150px;
    left: 100px;
    width: 150px; 
    height: 100px; 
    background-color: rgb(16, 95, 191);
    position: fixed; 
    z-index: 999; 
    pointer-events: none; 
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    align-content: center;   
}